<header style="display: flex; justify-content: space-around; margin-bottom: 3%;">
    <div style="font-size: large;">
        Hello User
    </div>
    <div>
        <form (submit)="$event.preventDefault()">
            <mat-form-field appearance="fill">
                <mat-label>Enter ISIN</mat-label>
                <input matInput>
            </mat-form-field>
        </form>
    </div>
    <div>
        <button mat-raised-button (click)="logOut()">Log Out</button>
    </div>
</header>
<main style="margin-left: 20%; margin-right: 20%;">
    <div style="display: flex; justify-content: space-between;">
        <div style="font-size: medium;">
            Portfolio
            <br>
            8749$
        </div>
        <div style="font-size: medium;">
            Cash
            <br>
            3400$
        </div>
    </div>
    <div style="display: flex; justify-content: center; margin-top: 10%; margin-bottom: 10%;">
        <app-graph></app-graph>
    </div>
    <div style="display: flex; justify-content: center; flex-direction: column;">
        <h3>Investments</h3>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="ISIN">
              <th mat-header-cell *matHeaderCellDef> ISIN </th>
              <td mat-cell *matCellDef="let element"> {{element.isin}} </td>
            </ng-container>

            <ng-container matColumnDef="Name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="Amount">
                <th mat-header-cell *matHeaderCellDef> Amount </th>
                <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
            </ng-container>

            <ng-container matColumnDef="Absolute">
                <th mat-header-cell *matHeaderCellDef> Absolute </th>
                <td mat-cell *matCellDef="let element"> {{element.absolute}} </td>
            </ng-container>

            <ng-container matColumnDef="Relative">
                <th mat-header-cell *matHeaderCellDef> Relative </th>
                <td mat-cell *matCellDef="let element"> {{element.relative}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
    </div>

</main>
<footer></footer>
